.navbar{
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

main > .container {
    padding: 60px 15px 0;
}
    
.footer {
    background-color: hsl(0, 0%, 90%);
}
  
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

#thumbanilPicFirst{
    
}